<div class="container">
  <span *ngIf="errors" class="text-danger">{{errors | json}}</span>
  <form class="form-horizontal" (submit)="onSubmit()">
    <div class="form-group">
      <label class="control-label col-sm-3" for="email">ProductId:</label>
      <div class="col-sm-9">
        <span [hidden]="ProductId.valid" class="text-danger">*ProductId must be number.</span>
        <input type="number" class="form-control" required name="ProductId" [(ngModel)]="product.ProductId" #ProductId="ngModel"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">UPC:</label>
      <div class="col-sm-9">
        <span [hidden]="UPC.valid" class="text-danger">*UPC should be 12 digit numeric field.</span>
        <input type="text" class="form-control" name="UPC" [(ngModel)]="product.UPC" required minlength="12" maxlength="12" pattern="[0-9]+" #UPC="ngModel">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Title:</label>
      <div class="col-sm-9">
        <span [hidden]="Title.valid" class="text-danger">*Title is required.</span>
        <input type="text" class="form-control" name="Title" [(ngModel)]="product.Title" required #Title="ngModel">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">ArtistName:</label>
      <div class="col-sm-9">
        <span [hidden]="ArtistName.valid" class="text-danger">*ArtistName is required.</span>
        <input type="text" class="form-control" name="ArtistName" [(ngModel)]="product.ArtistName" required #ArtistName="ngModel">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">RelDate:</label>
      <div class="col-sm-9">
        <span [hidden]="RelDate.valid" class="text-danger">*RelDate is required.</span>
        <input type="date" class="form-control" name="RelDate" [(ngModel)]="product.RelDate" required #RelDate="ngModel">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">SaleQty:</label>
      <div class="col-sm-9">
        <span [hidden]="SaleQty.valid" class="text-danger">*SaleQty should be numeric field</span>
        <input type="number" class="form-control" name="SaleQty" [(ngModel)]="product.SaleQty" required #SaleQty="ngModel">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">SalesRev:</label>
      <div class="col-sm-9">
        <span [hidden]="SalesRev.valid" class="text-danger">*SalesRev should be decimal field.</span>
        <input type="number" class="form-control" name="SalesRev" [(ngModel)]="product.SalesRev" required #SalesRev="ngModel">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">UnitPrice:</label>
      <div class="col-sm-9">
        <span [hidden]="UnitPrice.valid" class="text-danger">*UnitPrice should be decimal field.</span>
        <input type="number" class="form-control" name="UnitPrice" [(ngModel)]="product.UnitPrice" required #UnitPrice="ngModel">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">

        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
